@import url(https://fonts.googleapis.com/css?family=Lobster);

/* Responsive line-break */
.br { display: block; }
@media screen and (min-width: 40.063em){
  .br { display: inline; }
}

body {
  background: #f0f0f4;
  font-family: cursive;
}

h1 {
  color: #383838;
  margin: 30px 0 45px 0;
  font-size: 72px;
  font-family: 'Lobster', cursive;
  text-align: center;
}

.tip {
  margin-bottom: 25px;
  line-height: 2.1em;
}

.venue-tip {
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

.beer-tip {
  font-size: 28px;
  color: #555;
}

.beer-tip a {
  font-weight: 300;
}

.beer-tip i {
  font-size: 80%;
  margin-left: 10px;
}

a {
  color: #222;
}
a:visited {
  color: #222;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}

.accordion {
  margin-top: 20px;
  background: none;
}

.accordion-title {
  font-size: 18px;
  color: black;
  background: none;
}

.accordion-title::before {
  display: none;
}
