<!doctype html>
<html ng-app="afteri">
<head>
  <title>Afterille</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="assets/vendor/foundation-6.0.5.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-34074502-4', 'auto');
  ga('send', 'pageview');
  </script>
</head>
<body>

<div class="container" ng-controller="afteriCtrl">
  
  <div class="row">
    <h2>Päivän afteri</h2>
  </div>

  <div id="beer-list">
    <div class="row tip" ng-repeat="tip in suggestions">
      <div class="small-12 columns venue-tip">
        <a title="id={{ tip.venue.venue_id }}" href="{{ tip.venue.foursquare.foursquare_url }}" ng-bind="tip.venue.venue_name"></a>
      </div>
      <div class="small-12 columns beer-tip">
        <a class="br" title="id={{ tip.beer.bid }}" href="{{ tip.brewery.contact.url }}" ng-bind="tip.beer.beer_name| limitTo:35"></a>
        <i class="br"><span></span>{{ tip.beer.beer_abv }}% - {{ tip.beer.beer_style }}</i>
      </div>
    </div>
  </div>

  <div class="row">

  <!-- TODO Accordion broke in Foundation 6
    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#moreBeer">Lisää vaihtoehtoja</a>-->
        <div id="moreBeer" class="content">
          <ul>
            <li ng-repeat="tip in checkins">
              <span class="br"><b ng-bind="tip.venue.venue_name"></b></span> <span class="br" ng-bind="tip.beer.beer_name"></span>
            </li>
          </ul>
        </div>
      <!--</li>
    </ul>-->
  </div>
</div>

<script src="assets/vendor/jquery-2.2.0.min.js"></script>
<script src="assets/vendor/modernizr-2.8.3.min.js"></script>
<script src="assets/vendor/angular-1.4.8.min.js"></script>
<script src="assets/vendor/what-input.min.js"></script>
<script src="assets/vendor/foundation-6.0.5.min.js"></script>
<script src="assets/vendor/lodash-3.10.1.min.js"></script>
<script src="assets/js/main.js"></script>
<script type="text/javascript">$(document).ready(function(){$(document).foundation();});</script>
</body>
</html>
