<!doctype html>
<html ng-app="afteri">
<head>
  <title>Afterille</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="assets/vendor/foundation-6.0.5.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-34074502-4', 'auto'); ga('send', 'pageview');
  </script>
</head>
<body>

<div class="row" ng-controller="afteriCtrl">
<div class="small-12 large-8 large-offset-2 columns">

  <div class="row">
    <h1>Päivän afteri</h1>
  </div>

  <!-- Primary beer suggestions -->
  <div id="beer-list">
    <div class="row tip" ng-repeat="tip in suggestions">
      <div class="small-12 columns venue-tip">
        <a title="id={{ tip.venue.venue_id }}" href="{{ tip.venue.foursquare.foursquare_url }}" ng-bind="tip.venue.venue_name"></a>
      </div>
      <div class="small-12 columns beer-tip">
        <a class="br" title="id={{ tip.beer.bid }}" href="{{ tip.brewery.contact.url }}" ng-bind="tip.beer.beer_name| limitTo:35"></a>
        <i class="br">
          <span ng-bind="tip.beer.beer_abv + '%'"></span>
          <span ng-bind="tip.beer.beer_style"></span>
        </i>
      </div>
    </div>
  </div>

  
  <div class="row">
    <ul class="accordion" data-accordion data-allow-all-closed="true" role="tablist">
      <!-- More beer accordion -->
      <li class="accordion-item">
        <a href="#moreBeer" role="tab" class="accordion-title" id="moreBeer-heading" aria-controls="moreBeer">Lisää ehdotuksia</a>
        <div id="moreBeer" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="moreBeer-heading">
          <ul>
            <li ng-repeat="tip in filteredCheckins">
              <span class="br"><b ng-bind="tip.venue.venue_name"></b></span> <span class="br" ng-bind="tip.beer.beer_name"></span>
            </li>
          </ul>
        </div>
      </li>
      <!-- The Pub debug accordion -->
      <li class="accordion-item">
        <a href="#thePub" role="tab" class="accordion-title" id="thePub-heading" aria-controls="thePub">Tarkemmat tiedot (Debug)</a>
        <div id="thePub" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="thePub-heading">
          <div ng-repeat="c in checkins">
          <b>{{ c.beer.beer_name }}</b>, {{ c.beer.beer_abv }}% ({{ c.beer.beer_style }}, {{ c.brewery.brewery_name }}, {{ c.brewery.country_name }})<br>
          <b>{{ c.venue.venue_name }}</b> / 
          {{ c.venue.primary_category }} <span ng-repeat="category in c.venue.categories.items">[{{ category.category_name}}]</span><br>
          {{ c.user.first_name }} {{ c.user.last_name }} ({{ c.user.user_name }}): {{ c.rating_score }}/5 {{ c.checkin_comment }}<br>
          {{ c.created_at }}<br>
          <br>
          </div>
        </div>
      </li>
    </ul>
  </div>


</div>
</div>

<script src="assets/vendor/jquery-2.2.0.min.js"></script>
<script src="assets/vendor/modernizr-2.8.3.min.js"></script>
<script src="assets/vendor/angular-1.4.8.min.js"></script>
<script src="assets/vendor/what-input.min.js"></script>
<script src="assets/vendor/foundation-6.0.5.min.js"></script>
<script src="assets/vendor/lodash-4.0.0.min.js"></script>
<script src="assets/js/main.js"></script>
<script type="text/javascript">$(document).ready(function(){$(document).foundation();});</script>
</body>
</html>
