
remote = {
  'client_id': '',
  'client_secret': '',
  'base_url': ''
}

storage = {
  'table_beer': '',
  'table_venue': '',
  'bucket_name': ''
}

areas = {
  'tampere':  {'lat': 61.4950, 'lng': 23.7734, 'radius': 1.06},
  'helsinki': {'lat': 60.1671, 'lng': 24.9409, 'radius': 1.49},
  'jyvaskyla': {'lat': 62.2398, 'lng': 25.7556, 'radius': 1.06}
}
