.container {
  max-width: 600px;
  padding: 0 5px;
}

.venue-icon {
  display: block;
  margin: 0 auto;
  opacity: 0.5;
}

.venue {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #f0f0f0;
}

@media (max-width: 500px) {
  .venue {
    padding: 10px;
    border: 1px solid #f0f0f0;
  }
}

h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 10px 0 10px 0;
}

h2 a {
  color: #2a395e;
  text-decoration: none;
}

h3 {
  color: #2a395e;
  font-size: 18px;
  margin: 0;
}

.beer-list {
  margin-top: 20px;
}

.beer {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.beer-details {
  display: block;
  margin-top: -2px;
  line-height: 1.2em;
}

.tag-cluster {
  text-align: center;
  margin: 0 auto;
}

.tag {
  display: inline-block;
  height: 26px;
  padding: 2px 10px 0 10px;
  margin: 2px 4px;
  color: #2a395e;
  line-height: 26px;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: .1rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 3px;
  border: 1px solid #2a395e;
}

.recommendations-footer {
  text-align: center;
  color: #ddd;
}

.feed-title {
  margin: 100px 0 20px 0;
}

.feed-venue {
  font-size: 1.2em;
  margin-bottom: 20px;
}

p {
  font-style: italic;
  line-height: 1.2em;
  margin-bottom: -5px;
  padding: 0;
}

.feed-timestamp {
  color: #bbb;
  font-size: 0.8em;
  line-height: 1.0em;
  text-align: right;
}

/* Mobile */
@media screen and (max-width: 768px){
  .feed-timestamp {
    text-align: left;
    margin-bottom: 3px;
  }

}
