@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Lato);

/* Responsive line-break */
.br { display: block; }
@media screen and (min-width: 40.063em){
  .br { display: inline; }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  background: #f0f0f4;
  font-family: 'Lato', serif;
}

h1 {
  color: #383838;
  margin-top: 30px;
  font-size: 85px;
  font-family: 'Lobster', serif;
  text-align: center;
}

.nav-row {
  margin: 20px 0;
}
.button:visited {
  color: #fff;
}

/* Mobile-optimized */
@media screen and (max-width: 40em){
  h1 {
    margin: 5px 0 20px 0;
    font-size: 45px;
  }
  .beer-tip-name {
    font-size: 20px;
  }

  .beer-tip-details {
    font-size: 16px;
  }
}

/* Desktop-optimized */
@media only screen and (min-width: 40.063em) {
  .beer-tip-name {
    font-size: 24px;
    margin-right: 10px;
  }

  .beer-tip-details {
    font-size: 24px;
  }
}

.venue-tip {
  font-family: 'Lobster', serif;
  font-size: 40px;
  line-height: 0.9em;
}

.beer-tip {
  color: #555;
}

.tip {
  margin-bottom: 25px;
}

a {
  color: #222;
}
a:visited {
  color: #222;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}

.please-wait {
  text-align: center;
  color: #666;
  font-size: 30px;
  font-style: italic;
  margin-top: 30px;
}

.checkin {
  margin-bottom: 20px;
}

.accordion {
  margin-top: 20px;
  background: none;
}

.accordion-title {
  font-size: 18px;
  color: black;
  background: none;
}

.accordion-title::before {
  display: none;
}

.label {
  margin-right: 3px;
}

/* Untappd IDs, used to blacklist items */
.uid {
  font-size: 0.7em;
  color: #ccc;
}

.footer {
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  color: #bbb;
}
.footer a {
  color: #bbb;
}

/* Star rating */
.stars-wrapper {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}

.star {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  display: inline-block;
  color: #bbb;
  overflow: hidden;
  position: relative;
}
.star:last-child {
  margin-right: 0;
}
.star:before {
  content: '\2605';
  position: absolute;
  top: 0;
  left: 0;
}
.star.frac100 {
  color: #2199e8;
}
.star.frac:after {
  content: '\2605';
  color: #2199e8;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.star.frac.frac5:after {
  width: 10px;
}
.star.frac.frac25:after {
  width: 7px;
}
.star.frac.frac75:after {
  width: 13px;
}
