<div class="row banner">
<h1>Päivän <img src="assets/pa_logo.svg" class="logo"> afteri</h1>

<div class="col-lg-4 col-lg-offset-4">

  <div class="line"></div>
  <div class="automargin">

    <!-- City buttons -->
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Tampere</button>
      <button type="button" class="btn btn-default">Helsinki</button>
    </div>

    <!-- Mode buttons -->
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
      <button type="button" ui-sref-active="active" class="btn btn-default" ui-sref="highlights">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </button>
      <button type="button" ui-sref-active="active" class="btn btn-default" ui-sref="feed">
        <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
      </button>
      <!--<button type="button" class="btn btn-danger">
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
      </button>-->
    </div>

  </div>

</div>

</div>
