
$heroBackgroundColor: #2a395e;
$heroForegroundColor: #e5cea8;

.navbar {
  margin-bottom: 30px;
}

.automargin {
  text-align: center;
}

h1 {
  color: #e5cea8;
  margin: 50px 0 0.2em 0;
  font-size: 85px;
  font-family: 'Raleway', serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.logo {
  height: 1.6em;
  margin-top: -0.2em;
}

.btn-default {
  background: none;
  color: $heroForegroundColor;
  border-color: $heroForegroundColor;
}

.btn-default.active {
  background-color: $heroForegroundColor;
  color: $heroBackgroundColor;
  border-color: $heroForegroundColor;
}

.btn:hover {
  background-color: $heroBackgroundColor;
  color: #fff;
  border-color: #fff;
}


.line {
  height: 2px;
  background: $heroForegroundColor;
  margin-bottom: 30px;
}

.banner {
  background: $heroBackgroundColor;
  padding-bottom: 20px;
}
