
.please-wait {
  text-align: center;
  color: #666;
  font-size: 30px;
  font-style: italic;
  margin-top: 30px;
}

/* Responsive line-break */
.br { display: block; }
@media screen and (min-width: 40.063em){
  .br { display: inline; }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Mobile-optimized */
@media screen and (max-width: 40em){
  h1 {
    margin: 5px 0 20px 0;
    font-size: 45px;
  }
  .beer-tip-name {
    font-size: 20px;
  }

  .beer-tip-details {
    font-size: 16px;
  }
}

/* Desktop-optimized */
@media only screen and (min-width: 40.063em) {
  .beer-tip-name {
    font-size: 24px;
    margin-right: 10px;
  }

  .beer-tip-details {
    font-size: 24px;
  }

}

.venue-tip {
  font-family: 'Raleway', serif;
  font-size: 40px;
  line-height: 0.9em;
}

.beer-tip {
  color: #666;
}

.tip {
  margin-bottom: 25px;
}


a {
  color: #222;
}
a:visited {
  color: #222;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}
