.header {
  background: #343F68;
  padding: 40px 20px 20px 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.btn-group {
  margin: 3px 10px;
}

.btn-default {
  background: none;
  color: #fff;
}

.logo {
  background: url('http://after.heap.fi/assets/pa_logo.svg');
  height: 150px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
}

.logo-small {
  height: 75px;
  width: 75px;
}

.mobile-title {
  font-size: 32px;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  color: #e5cea8;
  margin-bottom: 30px
}
