@import 'https://fonts.googleapis.com/css?family=Lato:300';

.header {
  background: #1e2d4e;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.logo {
  background: url('http://after.heap.fi/assets/pa_logo_2.svg');
  height: 150px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
}

/* Mobile */
@media screen and (max-width: 768px){
  .header {
    padding: 20px 10px 15px 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .header .btn {
    border-radius: 5px;
    border-width: 1px;
    font-weight: normal;
  }

  .logo {
    display: none;
    background: none;
  }
}

.button {
  border-radius: 6px;
  border-width: 2px;
  font-size: 14px;
  font-weight: bold;
  height: 48px;
  padding-top: 4px;
  letter-spacing: 1px;
  border-color: #edda98;
  color: #edda98;
}

.button:hover {
  background: #edda98;
  border-color: #edda98;
  color: #1e2d4e;
}

.button:focus {
  color: #1e2d4e;
  background: #edda98;
  border-color: #edda98;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #edda98;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
