@import 'https://fonts.googleapis.com/css?family=Lato:300';

.header {
  background: #1e2d4e;
  padding: 40px 20px 20px 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

/* Mobile */
@media screen and (max-width: 768px){
  .header {
    padding: 0 10px 15px 10px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  .header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .header .btn {
    border-radius: 5px;
    border-width: 1px;
    font-weight: normal;
  }
}

.btn-group {
  margin: 3px 10px;
}

.btn {
  border-radius: 7px;
  border-width: 2px;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 20px;
  letter-spacing: 1px;
}

.btn-default {
  background: none;
  border-color: #edda98;
  color: #edda98;
}

.btn-default:hover {
  background: #edda98;
  border-color: #edda98;
  color: #1e2d4e;
}

.btn-default:focus {
  color: #1e2d4e;
  background: #edda98;
  border-color: #edda98;
}

.btn-group .btn + .btn {
  margin-left: -2px;
}

.logo {
  background: url('http://after.heap.fi/assets/pa_logo.svg');
  height: 150px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #edda98;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
